.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  animation: loadMainContent ease 0.5s;
}

@keyframes loadMainContent{
  0%{
    transform: scale(0.8);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}