.register-title, .plus{
    color: rgb(220, 218, 218);
}

.main-container{
    border: solid 1px white;
    border-radius: 16px;
    margin-top: 15px;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.65);
}

.login-register-form-buttons{
    display: flex;
    justify-content: space-evenly;
}

.login-form-button{
    background-color: rgb(8, 94, 151);
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 15px 0 0 0;
    /* border: solid 1px black; */
    padding: 10px 0;
    
}
.login-form-button:hover{
    background-color: rgb(5, 66, 107);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

.register-form-button{
    background-color: rgb(8, 94, 151);
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 0px 15px 0 0;
    /* border: solid 1px black; */
    padding: 10px 0;
    
   
}
.register-form-button:hover{
    background-color: rgb(5, 66, 107);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

.buttonActive{
    background: linear-gradient(0deg, rgba(0,43,79,1) 0%, rgba(0,36,64,1) 100%);
    border: none;
    cursor: auto;
    text-decoration: underline;
}
.buttonActive:hover{
    background: linear-gradient(0deg, rgba(0,43,79,1) 0%, rgba(0,36,64,1) 100%);
    cursor: auto;
    text-decoration: underline;
}

.hidden{
    display: none;
}

.input{
    background-color: #023963;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 14px;
    width: 228px;
    color: white;
    outline: none;
    margin: 5px;
}

.input-short{
    background-color: #023963;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 14px;
    width: 111px;
    color: white;
    outline: none;
    margin: 3px;
}
.input-code{
    background-color: #023963;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 14px;
    width: 54px;
    text-align: center;
    color: white;
    outline: none;
    margin: 3px;
}
.input-phone{
    background-color: #023963;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 14px;
    width: 150px;
    color: white;
    outline: none;
    margin: 3px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}

.main-form{
    height: 100%;
    background: linear-gradient(0deg, rgba(16,84,136,1) 66%, rgba(0,43,79,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
}

.submit-button{
    background-color: #088992; /* Green */
    border: solid 1px rgb(252, 249, 249, 0.5);
    color: white;
    padding: 7px 25px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    max-width: 150px;
    cursor: pointer;
    transition: .45s;
    box-shadow: 0px 0px 5px 2px rgb(0,0,0, 0.35);
}

.submit-button:hover{
    background-color: #02586b;
    transition: 0.3s;
}

.loginIcon{
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
}

.registerIcon{
    color: white;
    font-size: 50px;
}

/* .checkbox{
    height: 25px;
  width: 25px;
  background-color: #eee;
} */

.forgotPassword{
    color: rgb(209, 209, 209);
    margin-top: 35px;
    font-size: 13px;
    text-decoration: none;
}

.forgotPassword:hover{
    text-decoration: underline;
    color: white;
}

.phone-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.password-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}